@model Category
@{
    ViewData["Title"] = Model.Name;
}

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <p>
        @Model.Name Kategorisindeki İçerikler
    </p>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var item in Model.Posts)
    {
        <partial name="_BlogPostView" model="item" />
    }
</div>